<script setup>
import { onBeforeMount, ref } from "vue";
import api from "./config/api";

const formData = ref({
  email: "teszt.elek@gmail.com",
  password: "password123",
});

const userData = ref(null);

const loginSubmit = async () => {
  await api.get("/api/csrf-cookie");
  const response = await api.post("/api/login", formData.value);
  console.log(response);
  await getUserData();
};

const getUserData = async () => {
  try {
    const response = await api.get("/api/user");
    userData.value = response.data;
  } catch (error) {
    if (error.response.status === 401) {
      userData.value = null;
    }
  }
};

onBeforeMount(getUserData);

const logout = async () => {
  await api.get("/api/csrf-cookie");
  const response = await api.post("/api/logout");
  console.log(response);
  await getUserData();
};
</script>

<template>
  <form v-if="userData == null" @submit.prevent="loginSubmit">
    <input type="email" name="email" v-model="formData.email" />
    <input type="password" name="password" v-model="formData.password" />
    <button type="submit">Login</button>
  </form>

  <div v-else>Hello, {{ userData.name }} <button @click="logout">Logout</button></div>
</template>
