@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
* {
  font-family: "Be Vietnam Pro", sans-serif;
}

@theme {
  --color-primary: #fe4c01;
  --color-secondary: #fbd22f;
  --color-accentGreen: #02cb74;
  --color-accentPurple: #a06bf9;
  --color-accentYellow: #FBD22F;

  --color-textBlack: #1f2937;
  --color-textGray: #6b7280;
  --color-textWhite: #fefefe;
  --color-textDisabled: #848484;

  --color-success: #02cb74;
  --color-error: #fd353d;
  --color-warning: #ffa600;

  --color-bgDark: #030f39;
  --color-bgLight: #f8f8f8;
  --color-bgAlternate: #0D1945;

  --color-buttonOrange: #fe4c01;
}

/*Navbar jobboldalról beúszás */
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}
.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}

