@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
* {
  font-family: "Be Vietnam Pro", sans-serif;
}

@theme {
  --color-primary: #fe4c01;
  --color-secondary: #fbd22f;
  --color-accentGreen: #02cb74;
  --color-accentPurple: #a06bf9;
  --color-accentYellow: #fbd22f;
  --color-accentOrange: #fe4c01;

  --color-textBlack: #1f2937;
  --color-textGray: #6b7280;
  --color-textWhite: #fefefe;
  --color-textDisabled: #848484;

  --color-success: #02cb74;
  --color-error: #fd353d;
  --color-warning: #ffa600;

  --color-bgDark: #030f39;
  --color-bgLight: #f8f8f8;
  --color-bgAlternate: #0d1945;
  --color-bgFooter: #01071c;

  --color-buttonOrange: #fe4c01;
}

body {
  overflow-x: hidden;
}

* {
  outline: none !important;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}
.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}

.strokeYellow {
  -webkit-text-stroke: 5px #988433;
  paint-order: stroke fill;
}

.strokeGreen {
  -webkit-text-stroke: 5px #02805d;
  paint-order: stroke fill;
}

.strokePurple {
  -webkit-text-stroke: 5px #6146ac;
  paint-order: stroke fill;
}

.strokeOrange {
  -webkit-text-stroke: 5px #993418;
  paint-order: stroke fill;
}

@layer utilities {
  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-x {
    animation: scroll-x 20s linear infinite;
  }
}
@layer utilities {
  @keyframes check-reveal-mask {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  .animate-check-reveal {
    -webkit-mask-image: linear-gradient(to right, black 40%, transparent 60%);
    mask-image: linear-gradient(to right, black 40%, transparent 60%);

    -webkit-mask-size: 200% 100%;
    mask-size: 200% 100%;

    animation: check-reveal-mask 220ms ease-out forwards;
  }
}
